
@page "/"
@page "/login"
@using MudBlazor
@inject HttpClient Http
@inject NavigationManager Navigation
@using System.Text.Json.Serialization
@using System.Text.Json
@inject Blazored.LocalStorage.ILocalStorageService localStorage


<MudGrid Justify="Justify.Center" Class="center-grid" Style="align-items: center;">
    <MudItem xs="12" sm="8" md="6" lg="4">
        <MudPaper Elevation="2" Class="pa-10">
            <MudText Typo="Typo.h5" Class="mud-text-center mb-4">Login</MudText>
            <MudForm Model="loginModel" onSubmit="HandleLogin">
                <MudTextField Label="Username" Variant="Variant.Outlined" Margin="Margin.Dense" Required="true"
                    @bind-Value="loginModel.Username"></MudTextField>
                <br />
                <MudTextField Label="Password" Variant="Variant.Outlined" Margin="Margin.Dense" Required="true"
                    @bind-Value="loginModel.Password" InputType="@PasswordInput" Adornment="Adornment.End"
                    AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick">
                </MudTextField>
                <br>
                <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="@(() => HandleLogin())" type="Submit"
                    Disabled="isLoading" FullWidth="true">
                    @if (isLoading)
                    {
                        <MudProgressCircular Size="Size.Small" Color="Color.Secondary" />
                    }
                    else
                    {
                        <span>Login</span>
                    }
                </MudButton>
            </MudForm>
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <MudAlert Severity="Severity.Error" Class="mt-4" Visible="@( !string.IsNullOrEmpty(errorMessage) )">
                    @errorMessage
                </MudAlert>
            }
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    private LoginModel loginModel = new();
    private bool isLoading = false;
    private string? errorMessage = null;

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void ButtonTestclick()
    {
        isShow = !isShow;
        PasswordInputIcon = isShow ? Icons.Material.Filled.Visibility : Icons.Material.Filled.VisibilityOff;
        PasswordInput = isShow ? InputType.Text : InputType.Password;
    }

    private async Task HandleLogin()
    {
        isLoading = true;
        errorMessage = null;
        StateHasChanged();
        try
        {
            var response = await Http.PostAsJsonAsync("http://localhost:5029/api/auth/login", loginModel);
            if (response.IsSuccessStatusCode)
            {
                var loginResponse = await response.Content.ReadFromJsonAsync<LoginResponse>();
                if (loginResponse?.Token != null)
                {
                   await localStorage.SetItemAsync("D!", loginResponse.Token);
                Navigation.NavigateTo("/weather");

                }
            }
            else
            {
                errorMessage = "Invalid username or password";
            }
        }
         catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}";
        }
        finally
        {
            isLoading = false;
        }
    }

    public class LoginModel
    {
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
    }
     public class LoginResponse
    {
        public int Status { get; set; }
        public string Message { get; set; } = "";
        public string? Token { get; set; }
    }
    public class UserDto
    {
        public string Username { get; set; } = string.Empty;
        public string Email { get; set; } = string.Empty;
    }
}
